requests
httpx
cloudscraper
socks
PySocks
urllib3
socket>=1.0.0
undetected-chromedriver>=3.5.4
selenium>=4.15.0
colorama>=0.4.6
dataclasses>=0.6;
typing-extensions>=4.5.0
aiohttp>=3.9.0
asyncio>=3.4.3
